<div class="modal-header text-white bg-success">
  <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="confirmModalRef.close()"
  ></button>
</div>
<div class="modal-body text-success">Les donnees sont bien ajoutées dans la base de donnees. <!-- {{ title }} --></div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="confirmModalRef.close()">
    Quitter
  </button>
</div>
