.space {
  margin-top: 20px;
}

.button-right {
  float: right;
}

.button-left {
  float: right;
}

.message-error {
  color: red;
  opacity: 0.7;
  font-size: 10px;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.modal-content {
  padding: 0 !important;
  overflow: hidden;
}

.modal-body {
  padding: 0 !important;
}
